.noto-serif-normal {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .inter-normal {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .btn {
        background-color: #E95A08;
        padding: 20px;
        color: #FFFFFF;
        border: none;
        font-size: 16px;
        font-weight: 600px;
    }

    /* nav section with responsive*/
    .list a {
        text-decoration: none;
        color: #8987A1;
    }

    .list ul li {
        list-style: none;
        font-size: 18px;
    }

    .list ul {
        display: flex;
        justify-content: space-between;
        gap: 48px;
    }

    nav {
        max-width: 1140px;
        margin: 0 auto;
    }

    .shop {
        display: flex;
    }

    .nav-section {
        max-width: 1140px;
        margin: 0 auto;
        margin: 10px;
        margin-top: 20px;
        display: grid;
        /* justify-content: space-between; */
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    @media screen and (max-width: 576px) {
        .list ul {
            visibility: hidden;
        }

        .shop {
            visibility: visible;
        }
    }

    /* banner section */
    .banner-text h1 {
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 1px;
    }

    .banner-text h1 span {
        color: #E95A08
    }

    .banner-text p {
        color: #000000;
        font-size: 16px;
        text-align: left;
    }

    .banner {
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;
    }

    @media screen and (max-width: 576px) {
        .banner {
            flex-wrap: wrap-reverse;
            /* width: 100%; */
        }

        .banner-text h1 {
            font-size: 24px;
        }

        .banner-text {
            margin: 10px;
            width: 100%;
        }
    }

    /* our plants part */
    .plants {
        margin: 10px;
        margin-bottom: 130px;
        text-align: center;
    }

    .plants-text h1 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 0px;
        text-align: center;
    }

    .plants-text h1 span {
        color: #E95A08;
    }

    .plants-text p {
        font-size: 22px;
        color: #000000;
        margin-bottom: 80px;
        text-align: center;
    }

    .card-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .card-container img {
        /* width: 100%; */
        padding-bottom: 20px;
    }

    .card-container p {
        margin-bottom: -15px;
        font-size: 22px;
        font-weight: 500px;
    }

    .card-container h4 {
        margin-bottom: 35px;
        font-size: 22px;
        font-weight: bold;
    }

    .card {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .btn {
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        .card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .plants {
            margin: 10px;
            align-items: center;
        }
    }

    /* lover section */
    .plants-lover {
        margin: 10px;
    }

    .lover-text h2 {
        font-size: 50px;
        font-weight: bold;
    }

    .lover-text p {
        color: #000000;
        font-size: 22px;
    }

    .lover-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 50px;
    }

    .badge img {
        height: 300px;
        /* width: 300px; */
    }

    .badge {
        position: relative;
        height: 100px;
        left: 340px;
    }

    @media screen and (max-width: 576px) {
        .badge {
            visibility: hidden;
        }

        .lover-section {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    /* latest deals section */
    .latest-deals {
        max-width: 1140px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px;
    }

    .latest-deals h2 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: -10px;
    }

    .latest-deals h2 span {
        color: #E95A08;
    }

    .latest-deals p {
        font-size: 22px;
        color: #000000;
        margin-bottom: 100px;
    }

    .bloom-plant {
        position: relative;
        margin-top: -160px;
    }

    .bloom-plant p {
        margin-bottom: -10px;
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
        /* margin-left: -600px; */
    }

    .bloom-plant p a {
        font-size: 16px;
        font-weight: 600px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .zabo-plant {
        position: relative;
        margin-top: -300px;
    }

    .zabo-plant p {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: -20px;
    }

    .zabo-plant p a {
        font-size: 28px;
        font-weight: 600px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .first-img {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
    }

    .first-img img {
        border-radius: 10px;
    }

    .second-img img {
        border-radius: 10px;
    }

    .img-section {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 10px;
        margin-bottom: 180px;
    }

    @media screen and (max-width: 576px) {
        .img-section {
            display: flex;
            flex-wrap: wrap;
            /* grid-template-rows: repeat(1, 1fr); */

        }

        .second-img img {
            width: 540px;
        }

        .first-img img {
            width: 540px;
        }
    }

    /* join section */
    .join-section {
        width: 100%;
        background-image: url(../assets/news-letter-bg.png);
        background-size: cover;
        /* background-repeat: no-repeat; */
        margin-bottom: 100px;
        height: 400px;
        text-align: center;
        padding-top: 100px;
        margin-left: 0px;
    }

    .join-section h2 {
        color: #FFFFFF;
        font-size: 50px;
        font-weight: bold;
    }

    .join-section input {
        /* height: 20px; */
        width: 600px;
        padding: 19px;
    }

    .btn1 {
        width: 15%;
    }

    .join {
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 576px) {
        .join-section input {
            width: 300px;
            padding: 10px;
        }

        .join-section h2 {
            font-size: 30px;
        }

        .join-section {
            height: 200px;
            padding-top: 50px;
        }

        .btn1 {
            padding: 10px;
            width: 25%;
        }
    }
/* footer section */
    .footer {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 70px;
        margin-bottom: 50px;
    }

    .logo-part p {
        font-size: 22px;
        color: rgba(0, 0, 0, 50%);
        text-align: left;
    }

    .link1 a {
        text-decoration: none;
        color: #6B7280;
    }

    .link1 ul li {
        list-style: none;
        text-align: left;
        margin-bottom: 45px;
    }

    .link2 a {
        text-decoration: none;
        color: #6B7280;
    }

    .link2 ul li {
        list-style: none;
        text-align: left;
        margin-bottom: 45px;

    }

    .icons img {
        margin-left: 20px;
    }

    @media screen and (max-width: 576px) {

        .footer {
            grid-template-columns: repeat(1, 1fr);
            gap: 8px;
            margin-bottom: 50px;
        }

        .logo-part {
            margin-left: 25px;
        }
    }